{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-listings mt-4">
        <h2 class="mb-4">Closed Listings</h2>
        {% if closed_listings %}
            <div class="row">
                {% for listing in closed_listings %}
                    <div class="col-md-3 mb-4">
                        <a href="{% url 'listing_details' listing.id %}" style="text-decoration: none;">
                            <div class="card h-100">
                                <div class="card-img-top img-container">
                                    {% if listing.image_url %}
                                        <img src="{{ listing.image_url }}" class="card-img" alt="{{ listing.title }}">
                                    {% else %}
                                        <img src="/static/auctions/default_image.jpg" class="card-img" alt="Default image">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>{{ listing.title }}</strong></h5>
                                    <p class="card-text text-secondary">{{ listing.description }}</p>
                                    <p class="card-text">Final Price: <span class="text-secondary">{{ listing.current_price }}</span></p>
                                    <p class="card-text">Closed At: <span class="text-secondary">{{ listing.updated_at }}</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-secondary">No closed listings available</p>
        {% endif %}
    </div>
{% endblock %}
